[submodule "src/model/policy/diffusion_policy"]
	path = src/model/policy/diffusion_policy
	url = https://github.com/LBG21/diffusion_policy.git
[submodule "src/model/policy/octo"]
	path = src/model/policy/octo
	url = https://github.com/octo-models/octo.git
[submodule "src/model/policy/openvla"]
	path = src/model/policy/openvla
	url = https://github.com/openvla/openvla.git
